<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swagyyydevelopment.jswag180.com.obdmonitor">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OBD_MONITORING_ACTIVITY">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AfterDiciveSelect" />
        <activity android:name=".gage" />
        <activity android:name=".FuleInfo" />
        <activity android:name=".Temps" />
        <activity
            android:name=".ShiftLights"
            android:screenOrientation="landscape" />
        <activity android:name=".zeroToSixty" />

        <service
            android:name=".BtCon"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".GeussGear" />
        <activity android:name=".diagnosticSettings" />
        <activity android:name=".DataLogger" />
        <activity android:name=".Fueling" />
    </application>

</manifest>